* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #0000001f;
}

h1{
    font-family: 'Gorditas', cursive;
    font-size: 40px;
}

h3{
    font-size: 30px;
    margin-bottom: 20px;
    color: #000000;
}

h4 {
    text-align: center;
}

div.container {
    max-width: 1200px;
    margin: auto;
    padding: 5px 50px 0;
}

header {
    text-align: center;
    margin-bottom: 5px;
}

header .logo {
    margin-bottom: 25px;
}

header input,
header button {
    width: 300px;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid white;
}

header input {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz6pxXrRRXKrZyRvvHGfXJK-HK2K8ws8q-Mg&usqp=CAU') 98% 55% no-repeat;
    background-size: 35px;
    background-color: white;
    box-shadow: 0px 0px 3px 1px #acacac2e;
}

header button {
    cursor: pointer;
    width: auto;
    background: linear-gradient(#ffdd5b, #ffcd08);
    border: none;
    margin-left: 10px;
}

header input:focus {
    border: 1px solid #ffdd5b;
}

header button i {
    color: black;
}

main .todo-list {
    margin: auto;
    width: 90%;
    background-color: #fffffd;
    padding: 55px 40px 20px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 35px;
    box-shadow: 1px 1px 4px 1px #aeaeae;
}

main .decoration {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#ffdd5b, #ffcd08);
    height: 35px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0 46px;
}

main .decoration i {
    cursor: pointer;
    float: right;
    margin-top: 10px;
    color: #000000c0;
    margin-left: 10px;
}

main .decoration i.restore-all:hover {
    color: rgb(52, 184, 0);
}

main .border{
    height: 3px;
    width: 100%;
    border-bottom: 3px dotted #c7c7c7;
    position: absolute;
    top: 36px;
    left: 0;
}

main .todo-list ul {
    list-style: none;
}

main .todo-list ul li {
    padding: 8px;
    border-bottom: 1px solid #c9c9c9;
}

main .todo-list ul li:hover {
    background-color: rgba(226, 226, 226, 0.705);
    border-radius: 5px;
    cursor: pointer;
}

main .todo-list ul li i {
    color: black;
    font-size: 18px;
    float: right;
}

main .todo-list ul li i.pen {
    margin-right: 10px;
    font-size: 15px;
    margin-top: 2px;
}

main .todo-list ul li i.restore {
    margin-right: 10px;
}

main .todo-list ul li i.pen:hover {
    color: brown
}
main .todo-list ul li i:hover,
main .decoration i:hover {
    color: red;
}

main .todo-list ul li i.restore:hover {
    color: #dab10e;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    h3 {
        text-align: center;
        margin-top: 50px;
    }
    main .todo-list {
        width: 100%;
    }
}

@media screen and (min-width: 300px) and (max-width: 576px) {
    h3 {
        text-align: center;
        margin-top: 50px;
    }
    div.container {
        max-width: 99%;
        margin: auto;
        padding: 15px 0 0;
    }
    header input{
        width: 200px;
    }
    header button {
        margin-left: 0;
    }
    main .todo-list {
        width: 100%;
        padding: 50px 9px 20px;
    }
    main .todo-list ul li {
        padding: 8px 0;
        border-bottom: 1px solid #c9c9c9;
    } 
}