<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Gorditas:wght@400;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="container">

        <div id="todo">

            <header>
        
                <div class="logo">
                    <h1>
                        ToDo List
                    </h1>
                </div>
        
                <div>
                    <input type="text" placeholder="Add New ToDo" v-model="addTodo" @keyup.enter="addTodos">
                    <button  @click="addTodos" title="Aggiungi in lista">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
        
            </header>
        
            <main>

                <!-- <h3>La tua Lista</h3> -->
                
                <div class="todo-list">
                    <div class="decoration">
                        <i class="fas fa-trash-alt"  @click="deleteMyTodo"  title="Sposta tutto nel Cestino"></i>
                    </div>
                    <div class="border"></div>
                    <ul v-if="todos.length > 0">
                        <li v-for="(todo,index) in todos">
                            {{ todo }}
                            <i class="fas fa-times delete" @click="deleteTodo(index)" title="Cancella"></i>
                            <i class="fas fa-pencil-alt pen" @click="modifyTodo(index)" title="Modifica"></i>
                        </li>
                    </ul>
                    <h4 v-else>
                        La tua lista &egrave; vuota
                    </h4>
                </div>

                <h3>Cestino</h3>

                <div class="todo-list">
                    <div class="decoration">
                        <i class="fas fa-trash-alt" @click="fullDeleteTrash" title="Elimina tutto Definitivamente"></i>
                        <i class="fas fa-window-restore restore-all" @click="restoreAllTodo" title="Ripristina tutto"></i>
                    </div>
                    <div class="border"></div>
                    <ul v-if="todosDeleted.length > 0">
                        <li v-for="(todo,index) in todosDeleted">
                            {{ todo }}
                            <i class="fas fa-times delete" title="Cancella Definitivamente" @click="permanentDelete(index)"></i>
                            <i class="fas fa-trash-restore restore" @click="restoreTodo(index)" title="Ripristina Voce"></i>
                        </li>
                    </ul>
                    <h4 v-else>
                        Il tuo cestino &egrave; vuoto
                    </h4>
                </div>
                
            </main>

        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>